body { font-family:宋体-PUA; font-size:12px; background:#fff url(../images/bg.jpg) left top repeat; }
body,ul,li { margin:0; padding:0;}
.clear { clear:both; font-size:0; height:0; line-height:0; margin:0; padding:0;}

.top {  height:56px; border-top:5px solid #0078BF; background:#333;}
.top_main { width:1000px; margin:0 auto; height:56px;}
.top_left { width:185px; height:56px; padding-left:109px; float:left;}
.top_right {  width:166px; height:46px; float:right; padding-top:6px;}

.main { width:1000px; margin:0 auto; padding-top:14px;}
.left { width:677px; float:left; padding-bottom:34px; background:#0D0D0D url(../images/left_botbg.jpg) left bottom no-repeat;}
.left_top { font-family:黑体; font-size:36px; color:#fff; text-align:center; height:54px; line-height:54px; padding-top:25px; padding-bottom:15px;; background:#333 url(../images/left_topbg.jpg) left top no-repeat;}
.right { width:290px; float:right; padding-bottom:34px;}

.jingpin { height:46px; line-height:46px; border-bottom:4px solid #0078BF; color:#0078BF;}
.jingpin_left {  float:left; font-family:微软雅黑; font-size:26px;}
.jingpin_right { float:right; line-height:30px; padding-top:16px;}

.right_new{border:2px #ccc solid;padding-left:6px;padding-right:6px;padding-top:7px;width:273px;height:153px;position:relative; margin-top:10px;}
.right_new .rsp{width:273px;height:128px;overflow:hidden;-moz-opacity:.90; filter:alpha(opacity=90); opacity:.90; background-color: #ccc;position:absolute;left:6px;top:7px;}
.right_new .rsp p { text-indent:20px; line-height:20px; padding:35px 20px 0 20px;}

.right_new_1{display: block; height:128px; width: 273px; margin: 0 auto;}
.right_new_1 span {display:block;text-align:center; background: #333; -moz-opacity:.80; filter:alpha(opacity=80); opacity:.80; color: #fff; position: absolute; top: 7px; left: 6px; width: 273px; height:28px;line-height:28px; border-top: 1px solid #999; z-index:1000;}

.right_new_2{height:25px;line-height:25px;}
..right_new_2 span{ display:block;}
.right_new_2_span1{float:left; color:#0078BF;}
.right_new_2_span2{float:right;}

.yuedu { border-left:1px solid #ccc; border-right:1px solid #ccc; background:#fff url(../images/yuedu_bg.jpg) left bottom repeat-x; padding:0 20px 17px 20px;}
.yuedu ul li { height:35px; line-height:35px; border-bottom:1px dashed #0078BF; list-style:none;}
.yuedu ul li img { float:left;}

.foot { height:70px; padding-top:30px; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:14px; text-align:center; color:#656565; width:1000px; float:left; background:url(../images/foot_bg.jpg) left top repeat-x;}
